/* Push content below the fixed header */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 95px 0px 85px 0px;
    padding: 0;
}
/* Optional: Prevent mobile menu from being taller than viewport */
  .navbar-collapse {
    max-height: 70vh;
    overflow-y: auto;
  }

html {
    scroll-behavior: smooth;
}
