body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 50px auto;
    padding: 0;
}
.header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    place-items: center;
}
/* Home button Style */
.home {
    height: 25px;
    width: 25px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
.home img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.tooltip-text {
    display: none;
    width: fit-content;
    color: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 14px;
}
.tooltip-text pre{
    padding: 5px;
    background: grey;
}

.home:hover .tooltip-text {
    display: block;
    opacity: 1;
}
/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    color: rgb(160, 160, 160); /* Black text */
    text-align: center; /* Centered text */
    font-size: 12px; /* Slightly larger for readability */
    padding: 0px 0px 2px 0px; /* Reduced padding for a strip-like appearance */
    font-weight: 500;
    height: 25px;
}
