body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 50px;
    padding: 20px;
}
.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-top: 10px;
}
input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
#profile_photo:hover{
    cursor: pointer;
}

.delete-account-btn {
    background: red;
    width: 100%;
}
.delete-account-btn button:hover{
    background-color: rgb(205, 2, 2);
}