{% extends 'Header.html' %}
{% load static %}
       
{% block title %} {{ title }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/About.css' %}">
{% endblock extra_css %}

{% block header %} {{ header }} {% endblock %}

{% block content %}

   <div class="main-content-class">
    <div class="home">
        <a href="/" class="btn"><img src="{% static 'icons/homeicon.png'%}"></a>
      </div>

    <div class="about-content">
        <h3>Welcome to Mutual Fund Recommendation</h3>
        <p>
            Whether you're a seasoned investor or just starting your financial journey,
            our platform provides data-backed insights and real-time analysis to guide
            you towards profitable and secure investments. With a seamless, user-friendly
            experience, we make choosing the right mutual funds simpler, smarter,
            and more efficient.
            Invest with confidence. Grow with precision. Your financial future starts here!<br>
          <div class="disclaimer">
            Disclaimer: We’re here to help you make smarter investment choices with data and insights.
            However, mutual fund investments are subject to market risks, and returns are not guaranteed.
           </div>
        </p>
    </div>
  </div>


    <div class="team-section">
        <h2>Meet Our Team</h2>
          <div class="team-member">
            <div class="team">
              <span style="font-size: 3rem;"> <img src="{% static 'icons/image.png' %}" class="profile-icon" style="background-color: gray;"></span>
                <h5>Ajay Kumar Sah</h5>
                <p>Team Member</p>
            </div>
            <div class="team">
              <span style="font-size: 3rem;"> <img src="{% static 'icons/image.png' %}" class="profile-icon" style="background-color: gray;"></span>
                <h5>Aditya Kumar Choudhary</h5>
                <p>Team Member</p>
            </div>
            <div class="team">
              <span style="font-size: 3rem;"> <img src="{% static 'icons/image.png' %}" class="profile-icon" style="background-color: gray;"></span>
                <h5>Gufran Ansari</h5>
                <p>Team Member</p>
            </div>
            <div class="team">
              <span style="font-size: 3rem;"> <img src="{% static 'icons/image.png' %}" class="profile-icon" style="background-color: gray;"></span>
                <h5>Shameer Raza</h5>
                <p>Team Member</p>
           </div>
        </div>
    </div>
{% endblock %}