{% extends 'Header.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Allmessage.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact.css' %}">
    <script src="{% static 'javascript/allmessage.js' %}"></script>
{% endblock extra_css %}

<!-- Header details -->
{% block header %} {{ header }} {% endblock %}

{% block content %} 
        <!-- Flashed message will be appear here -->
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                   <div class='msg'> {{ message }} </div>
                </div>
            {% endfor %}
        {% endif %}
  
    <div class="contact-container">

        <form action="/contact/" method="POST">
            
            {% csrf_token %}
            
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="phone">Contact Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="message">Your Message</label>
                <textarea class="form-control" id="message" name="message" placeholder="Type your message here..." required></textarea>
            </div>

            <button type="submit">SUBMIT</button>
        </form>
            <p style="text-align: center; text-decoration: none;"><a href="/" style="text-decoration: none;">← Back to Home</a></p>
    </div>
</div>

{% block js_code %}
{% endblock js_code %}

{% endblock content %}