{% extends "Header.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/Allmessage.css' %}">
    <script src="{% static 'javascript/allmessage.js' %}"></script>
{% endblock extra_css %}

<!-- Header details -->
{% block header %} {{ header }} {% endblock %}

{% block content %}

        <!-- Flashed Messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                   <div class='msg'> {{ message }} </div>
                  </div> 
            {% endfor %}
        {% endif %}

    <!-- Home Button-->
    <div class="home">
        <a href="/" class="btn"><img src="{% static 'icons/homeicon.png'%}"></a>
      </div>

        <!-- Right Side - Login Form -->
        <div class="Loginpage">
            <div class="log-icon">
                <h3>User Login</h3>
                <img src="{% static 'icons/loginicon.png' %}" alt="Login Icon">
            </div>
            
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" autocomplete="off" onclick='hideMessage()' required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" autocomplete="off" required>
                </div>
                <button type="submit">SUBMIT</button>
                <div class="link">
                    <a href="/forgetpass">Forgot password?</a>
                    <a href="/forgetusername">Forgot username?</a>
                    <a href="{% url 'newuser' %}">New user?</a>
                </div>
            </form>
        </div>
    </div>
 </div>

{% endblock content %}
